<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Hospital Management System</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons"> bar_chart </span> Statistics
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="workers">
                <span class="material-icons"> badge </span>  Workers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="doctors">
                <span class="material-icons"> medical_services </span>  Doctors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rooms">
                <span class="material-icons"> door_front </span>  Rooms
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="nurses">
                <span class="material-icons"> healing </span>  Nurses
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="patients">
                <span class="material-icons"> sick </span>  Patients
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
